.mentor-box {
  padding: 20px 10px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #ffffff;

  min-width: 450px;
  max-width: 450px;
  width: 100%;
}
